<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key><string>English</string>
    <key>CFBundleDisplayName</key><string>Dark Boot</string>
    <key>CFBundleExecutable</key><string>DarkBootPrefs</string>
    <key>CFBundleIdentifier</key><string>com.nightvibes33.darkbootprefs</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>DarkBootPrefs</string>
    <key>CFBundlePackageType</key><string>BNDL</string>
    <key>CFBundleShortVersionString</key><string>2.0.0</string>
    <key>CFBundleVersion</key><string>200</string>
    <key>NSPrincipalClass</key><string>DBRootListController</string>
</dict>
</plist>
